{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>

    <script src="{% static 'js/auth.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <title>ThinkaCV CRM</title>
</head>

<body class="flex h-screen bg-gray-100 overflow-hidden">
    <!-- Sidebar -->
    {% include 'layout/sidebar.html' %}
    <!-- Main Content -->
    <div class="flex-1 flex flex-col overflow-hidden">
        <!-- Header -->
        {% include 'layout/header.html' %}
        <main class="flex-1 p-6 overflow-auto">
            {% block content %}
            <!-- Main content here -->
            {% endblock %}
        </main>
        {% include 'layout/footer.html' %}
    </div>
</body>

</html>