{% extends 'base.html' %}

{% block title %}Create Branch{% endblock %}

{% block content %}
<div class="w-full bg-white hover:bg-blue-700 mt-4 rounded-lg">
    <div class="flex px-4 py-6">
        <h1 class="text-2xl font-bold">Create Branch</h1>
    </div>
</div>

<div class="w-full bg-white mt-4 inline-block px-4 py-2 mt-4 bg-blue-600 hover:bg-neutral-200 rounded-lg">
    <!-- templates/branch/create_branch.html -->
    <form method="post" class="max-w-4xl mx-auto p-6 bg-white rounded-xl shadow">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            {% for field in form %}
            <div>
                <label class="block font-medium mb-1">{{ field.label_tag }}</label>
                {{ field }}
                {% if field.errors %}
                <p class="text-red-600 text-sm">{{ field.errors.0 }}</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <div class="mt-6">
            <button type="submit" class="bg-blue-500 text-white px-6 py-2 rounded hover:bg-blue-600">
                Create Branch
            </button>
        </div>
    </form>

</div>
{% endblock %}